<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121635911458-9jg2t3mmr95740piopurjf19886ok93m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121635911458-9jg2t3mmr95740piopurjf19886ok93m</string>
	<key>API_KEY</key>
	<string>AIzaSyAnSDMAcDTLMqQySPVdt77cm4NAvzHcCr8</string>
	<key>GCM_SENDER_ID</key>
	<string>121635911458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muict.muDent</string>
	<key>PROJECT_ID</key>
	<string>brew-3ffdc</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-3ffdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121635911458:ios:3bd835859f76a3c215d77b</string>
</dict>
</plist>